/* Start coding here */
body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: rgb(55, 92, 93);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 0px;
    height: 25vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#main{
    display: flex;
    flex-direction: row;
    background-color: orange;
    border: solid white 1px;
    font-weight: bolder;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
}

#main p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: solid white 1px;
    margin: 0px;
    text-align: center;
    height: 100%;
    
}

.footer{
    background-color: rgb(228, 231, 93);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 0px;
    height: 25vh;
    align-items: center;
    justify-content: center;
    display: flex;
}